<!DOCTYPE html>
<html>
<body>

<h1>Princess Kobgiha</h1>

<h6>The server IP is</h6>

<img src="https://s3.amazonaws.com/kobigha/images/1.JPG" alt="W3Schools.com" width="1920" height="1080">

</body>
</html>
